.card {
    width: 159px; /* Set to a percentage value */
    /* height: 205px; */
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin-left: 1%; /* Set to a percentage value */
    background: var(--css-white);
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .card {
        width:100%; /* Adjust the width for smaller screens */
        margin-left: 2%; /* Adjust the margin for smaller screens */
    }
}

.card img {
    height: 170px;
    width: 100%;
}
.card img:hover {
    transform: scale(1.1);
    transition: all ease .2s;
}

.followers {
    background: white;
    text-align: center;
    width: 70%;
    border-radius: 12px;
    overflow: hidden;
    margin: 3px;
    font-size: .85rem;
}

.catagory {
    position: absolute;
}
