.feedbackname {
    margin-top: 16px;
    background: none;
    color: var(--css-black);
}


.feedbackForm {
    min-width: 300px;
    max-width: 500px;
    height: 450px;
    position: absolute;
    top: 99px;
    /* border: solid yellow; */
    margin: auto;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    background: var(--css-white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: black;
    font-weight: 600;
    border-radius: 12px;
    overflow: auto;

}

.formdata {
    margin-top: 30px;
}

.feedbackformsubmitbutton {
    width:  160px;
    height:  50px;
    border-radius: 12px;
    padding: 12px;
    margin-top: 45px;
    background: var(--css-primary);
    color: var(--css-white);
    cursor: pointer;
   
}

